
{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">

  <h1>Redzone</h1>

  <p>Register above to join the most exclusive message-sharing network on the internet.</p>
  <p><a href="/user/register" class="btn btn-primary btn-large">Register &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-rocket"></i> Launch your Thoughts</h2>
      <p>Launch your thoughts to people around the <i>world</i>!</p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-group"></i> Meet Cool People</h2>
      <p>Meet cool people from all over the world!</p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-globe"></i> Find your Passion</h2>
      <p>Find your passion among all the opportunities here!</p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

