alembic==0.8.4
bcrypt==2.0.0
blinker==1.4
cffi==1.5.0
cssmin==0.2.0
Flask==0.10.1
Flask-Assets==0.11
Flask-Bcrypt==0.7.1
Flask-Cache==0.13.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
Flask-Migrate==1.6.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
jsmin==2.2.0
Mako==1.0.3
MarkupSafe==0.23
pycparser==2.14
python-editor==0.5
six==1.10.0
SQLAlchemy==1.0.9
webassets==0.11.1
Werkzeug==0.15.3
wheel==0.26.0
WTForms==2.0.2
